{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-md-center mt-3">
        <div class="col-2">
            <img src="{{ object.avatar.url }}" alt="{{ object.name }}"
                 class="img-thumbnail rounded customer-profile-image">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-10">
                    {% include 'shared/_page_title.html' with title=object.name|add:"'s Profile" %}
                </div>
                <div class="col-2">
                    <a href="{% url "user_edit" object.id %}" class="btn btn-info mt-3 float-right">
                        <i class="fas fa-edit"></i>
                        Edit
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link align-middle active" data-toggle="pill" href="#profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#documents">Documents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#transactions">Transactions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-12">
            <div class="tab-content">
                <div class="tab-pane container active" id="profile">
                    <div class="form-group">
                        <label for="id_name">Name</label>
                        <input type="text" class="form-control" id="id_name" name="name" value="{{ object.name }}"
                               disabled>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="id_name">Email</label>
                                <input type="email" class="form-control" id="id_email" name="email"
                                       value="{{ object.email }}" disabled>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label for="id_contact_number">Contact Number</label>
                                <input type="text" class="form-control" id="id_contact_number" name="contact_number"
                                       value="{{ object.contact_number }}" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_date_of_birth">Date of Birth</label>
                        <input type="text" class="form-control" id="id_date_of_birth" name="date_of_birth"
                               value="{{ object.date_of_birth }}" disabled>
                    </div>

                    <div class="form-group">
                        <label for="id_address">Address</label>
                        <textarea class="form-control" id="id_address" name="address" rows="3"
                                  disabled>{{ object.address }}</textarea>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="id_city">City</label>
                                <input type="text" class="form-control" id="id_city" name="city"
                                       value="{{ object.city }}" disabled>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="id_state">State</label>
                                <input type="text" class="form-control" id="id_state" name="state"
                                       value="{{ object.state }}" disabled>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="id_zip">ZIP</label>
                                <input type="number" class="form-control" id="id_zip" name="zip"
                                       value="{{ object.zip }}" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane container fade" id="documents">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <a href="#" class="btn btn-info float-right" data-toggle="modal"
                               data-target="#new-document-modal">
                                New Document
                            </a>

                            <div id="new-document-modal-container"></div>
                        </div>
                    </div>

                    {% include 'documents/_list.html' with documents=object.document_set.all %}
                </div>

                <div class="tab-pane container fade" id="transactions">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <a href="#" class="btn btn-info float-right" data-toggle="modal"
                               data-target="#new-transaction-modal">
                                New Transaction
                            </a>

                            <div id="new-transaction-modal-container"></div>
                        </div>
                    </div>

                    {% include 'transactions/_list.html' with transactions=object.transaction_set.all %}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#new-transaction-modal-container').load('/transactions/new?user_id={{ object.id }}');
            $('#new-document-modal-container').load('/documents/new?user_id={{ object.id }}');
        });
    </script>
{% endblock %}